@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,300,600,400italic,700');
@import url('https://fonts.googleapis.com/css?family=Sacramento');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'Work Sans', Arial, sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #828282;
  background: #fff;
}
